.important {
  display: table;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  background: #EEFFEE;
  border: 1px solid #00AA00;
}

.statement {
  background: #EEEEFF;
  border: 1px solid #0000AA;
}

.label {
  display: table;
  margin-top: 0.5em;
  margin-left: 0.5em;
  padding: 0.5em;
  background: #FFFFFF;
  border: 1px solid #0000AA;
}

.hypothesis .label {
  background: #FFEEEE;
  border: 1px solid #AA0000;
}

.content {
  padding: 0.5em;
}

table {
  border-collapse: collapse;
}

table th,td {
  border: 1px solid #00AA00;
  padding: 1em;
  text-align: center;
}